.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.parent{
border-radius: 5px;
 width: 1000px;
 background-color: aqua;
 display: flex;
 /* justify-content: space-evenly; */
 margin-left: 180px;
  flex-flow: row wrap;
}
.child{
  margin: 20px;
  height: 50px;
  text-align: center;
  width: 450px;
  background-color: rgb(139, 49, 241);
  color:white;
  border-radius: 30px;
  padding-top: 10px;
  font-size: 18px;
  
}
input{
  font-weight: 20px;
  height: 45px;
  width: 250px;
  border-radius: 30px;
  margin: 8px;
  text-align: center;
  font-size:18px;
  background-image:radial-gradient(rgb(47, 175, 207),white);
}
form{
  font-size: 27px;
}
input::placeholder{
  text-align: center;
  
}
button{
  height: 50px;
  width: 150px;
  border-radius: 30px;
  text-align: center;
  background-color: orangered;
  margin-top: 50px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}
button:hover{
  background-color: blue;
}
